.nav-item {
    margin-right: 50px;
    font-size: 14px;
    font-family: Inter;
}

.navbar-brand {
    margin-left: 60px;
}

.nav-search {
    margin-top: 4px;
    margin-right: 70px;
}

.right-side {
    position: absolute;
    height: 90.9%;
    right: 0;
}

p.header {
    margin-left: 89px;
    margin-top: 145px;
    font-family: Montserrat-black;
    font-size: 60px;
    white-space: pre-line;
    line-height: 110%;
}

p {
    margin-top: 30px;
    font-family: Inter;
    margin-left: 89px;
    white-space: pre-line;
}

button {
    margin-top: 40px;
    border-radius: 25px !important;
}

.text-button {
    font-size: 16px;
    padding: 5px !important;
}

#search-enclose {
  overflow: hidden;
}

#label-enclose {
  float: right;
}

#label-enclose label {
  cursor: pointer;
  display: inline-block;
}

#input-enclose {
  float: right;
  font-size: 0;
}

#input-enclose input {
    height: 2.5em;
    padding: 0;
    width: 0;
    border: none;
    font-size: 14px;
    margin-right: -1px;
    transition: all .3s;
}

#input-enclose input:focus {
    width: 15em;
    height: 2.5em;
    outline: none;
}
